<section class="not-found">
    <img src="/images/404.svg" alt="404" />
    <h1>Ooops!</h1>
    <h3>The page you are looking for is not available</h3>
    <a asp-action="index" asp-controller="home" class="btn btn-theme"><i class="fa-regular fa-house"></i> Got to homepage</a>
</section>